# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Create a table
- Evaluate arithmetic expressions using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Pandas
3. Numpy
4. TensorFlow
5. PyTorch

| Data Science Tools |
|--------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
David Bernal Armenta